﻿<div class="track-head">
   <h3></h3>
   <div class="track-options">
     <div class="input-toggle mute">m</div>
     <div class="input-toggle solo">s</div>
     <div class="input-toggle record">r</div>
   </div>
</div>
