body {
  font-family: monospace;
  margin: 0;
}
div.input-toggle,
div.input-button {
  border: 1px #000 solid;
  padding: 2px 4px;
  margin: 2px;
  text-align: center;
  -webkit-user-select: none;
  cursor: pointer;
}
header {
  display: flex;
  height: 30px;
}
div.tracks {
  display: flex;
}
div.tracks div.track-heads {
  width: 200px;
  -webkit-user-select: none;
}
div.tracks div.track-heads div.track-head {
  height: 100px;
  -webkit-user-select: none;
}
div.tracks div.track-heads div.track-head.midi {
  background-color: #FEE;
  color: #221F1F;
  border-bottom: 1px solid #221F1F;
}
div.tracks div.track-heads div.track-head.audio {
  background-color: #EEF;
  color: #1F1F22;
  border-bottom: 1px solid #1F1F22;
}
div.tracks div.track-heads div.track-head h1,
div.tracks div.track-heads div.track-head h3 {
  margin: 0;
}
div.tracks div.track-heads div.track-head h1 {
  margin-top: 60px;
}
div.tracks div.track-heads div.track-head div.track-options {
  display: flex;
  -webkit-user-select: none;
}
div.tracks div.track-heads div.track-head div.track-options div.input-toggle {
  -webkit-user-select: none;
  cursor: pointer;
}
div.tracks div.track-heads div.track-head div.track-options div.input-toggle.mute.active {
  background-color: #FFFFDD;
  border: 1px solid #FFCC00;
}
div.tracks div.track-heads div.track-head div.track-options div.input-toggle.solo.active {
  background-color: #DDDDFF;
  border: 1px solid blue;
}
div.tracks div.track-heads div.track-head div.track-options div.input-toggle.record.active {
  background-color: #FFDDDD;
  border: 1px solid red;
}
div.tracks div.track-bodies {
  width: calc(100vw - 200px);
  overflow-x: auto;
  margin-top: 60px;
  -webkit-user-select: none;
  position: relative;
}
div.tracks div.track-bodies div.timeline {
  height: 60px;
  white-space: nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #FFF;
  -webkit-user-select: none;
}
div.tracks div.track-bodies div.bars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  -webkit-user-select: none;
}
div.tracks div.track-bodies div.region {
  position: absolute;
  height: 100%;
  top: 0;
  border: none;
  -webkit-user-select: none;
}
div.tracks div.track-bodies div.region div.resize-left,
div.tracks div.track-bodies div.region div.resize-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
}
div.tracks div.track-bodies div.region div.resize-left.resize-left,
div.tracks div.track-bodies div.region div.resize-right.resize-left {
  left: 0;
  cursor: w-resize;
}
div.tracks div.track-bodies div.region div.resize-left.resize-right,
div.tracks div.track-bodies div.region div.resize-right.resize-right {
  right: 0;
  cursor: e-resize;
}
div.tracks div.track-bodies div.region.selection {
  background-color: rgba(255, 165, 0, 0.3);
  z-index: 8;
}
div.tracks div.track-bodies div.region.selection div.resize-left {
  border-left: 1px solid #ffa500;
}
div.tracks div.track-bodies div.region.selection div.resize-right {
  border-right: 1px solid #ffa500;
}
div.tracks div.track-bodies div.region.loop {
  background-color: rgba(0, 0, 255, 0.3);
  z-index: 9;
}
div.tracks div.track-bodies div.region.loop div.resize-left {
  border-left: 1px solid #0000ff;
}
div.tracks div.track-bodies div.region.loop div.resize-right {
  border-right: 1px solid #0000ff;
}
div.tracks div.track-bodies div.region.loop.inactive {
  height: 80px;
}
div.tracks div.track-bodies div.transport {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: blue;
}
div.tracks div.track-bodies div.track-body {
  height: 100px;
  position: relative;
}
div.tracks div.track-bodies div.track-body.midi {
  color: #FEE;
  border-bottom: 1px solid #FEE;
}
div.tracks div.track-bodies div.track-body.audio {
  color: #EEF;
  border-bottom: 1px solid #EEF;
}
div.tracks div.track-bodies div.track-body div.sample-cut,
div.tracks div.track-bodies div.track-body div.sample-rec {
  position: absolute;
  height: 100%;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
}
div.tracks div.track-bodies div.track-body div.sample-cut {
  background-color: #1F1F33;
  color: #CCF;
  -webkit-user-select: none;
}
div.tracks div.track-bodies div.track-body div.sample-cut div.cut-path {
  position: absolute;
  top: 0;
  left: 3px;
  right: 3px;
  height: 100%;
}
div.tracks div.track-bodies div.track-body div.sample-cut div.resize-left,
div.tracks div.track-bodies div.track-body div.sample-cut div.resize-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
}
div.tracks div.track-bodies div.track-body div.sample-cut div.resize-left.resize-left,
div.tracks div.track-bodies div.track-body div.sample-cut div.resize-right.resize-left {
  left: 0;
  cursor: w-resize;
}
div.tracks div.track-bodies div.track-body div.sample-cut div.resize-left.resize-right,
div.tracks div.track-bodies div.track-body div.sample-cut div.resize-right.resize-right {
  right: 0;
  cursor: e-resize;
}
div.tracks div.track-bodies div.track-body div.sample-rec {
  background-color: #55F;
  color: #EEF;
}
div.ctx-menu {
  display: none;
  position: fixed;
  background-color: #FFF;
}
div.ctx-menu div {
  color: #000C;
  padding: 5px 15px;
  cursor: pointer;
}
div.ctx-menu div:hover {
  color: #000;
  background-color: #F9F9F9;
}
