
@audio-light: #EEF;
@audio-lighter: #CCF;
@audio-normal: #55F;
@audio-darker: #1F1F33;
@audio-dark: #1F1F22;

@midi-light: #FEE;
@midi-lighter: #FCC;
@midi-normal: #F55;
@midi-darker: #331F1F;
@midi-dark: #221F1F;


body {
  font-family: monospace;
  margin: 0;
}


div.input-toggle, div.input-button {
  border: 1px #000 solid;
  padding: 2px 4px;
  margin: 2px;
  text-align: center;
  -webkit-user-select: none;
  cursor: pointer;
}

div.input-toggle {

}

div.input-button {

}


header {
  display: flex;
  height: 30px;
}

div.tracks {
  display: flex;

  div.track-heads {
    width: 200px;
    -webkit-user-select: none;

    div.track-head {
      height: 100px;
      -webkit-user-select: none;

      &.midi {
        background-color: @midi-light;
        color: @midi-dark;
        border-bottom: 1px solid @midi-dark;
      }

      &.audio {
        background-color: @audio-light;
        color: @audio-dark;
        border-bottom: 1px solid @audio-dark;
      }

      h1, h3 {
        margin: 0;
      }

      h1 {
        margin-top: 60px;
      }

      div.track-options {
        display: flex;

        -webkit-user-select: none;
        div.input-toggle {
          -webkit-user-select: none;
          cursor: pointer;

          &.mute {
            &.active {
              background-color: #FFFFDD;
              border: 1px solid #FFCC00;
            }
          }

          &.solo {
            &.active {
              background-color: #DDDDFF;
              border: 1px solid blue;
            }
          }

          &.record {
            &.active {
              background-color: #FFDDDD;
              border: 1px solid red;
            }
          }
        }
      }
    }
  }


  div.track-bodies {
    width: calc(100vw - 200px);
    overflow-x: auto;
    margin-top: 60px;
    -webkit-user-select: none;
    position: relative;

    div.timeline {
      height: 60px;
      white-space: nowrap;

      position: absolute;
      top: 0; bottom: 0;
      left: 0;
      z-index: 99;

      background-color: #FFF;

      -webkit-user-select: none;

    }

    div.bars {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      white-space: nowrap;

      -webkit-user-select: none;
    }


    div.region {
      position: absolute;
      height: 100%;
      top: 0;
      border: none;

      -webkit-user-select: none;

      div.resize-left, div.resize-right {
        position: absolute;
        top: 0;
        height: 100%;
        width: 3px;

        &.resize-left {
          left: 0;
          cursor: w-resize;
        }

        &.resize-right {
          right: 0;
          cursor: e-resize;
        }
      }

      &.selection {
        background-color: rgba(255, 165, 0, 0.3);
        z-index: 8;
        div.resize-left {
          border-left: 1px solid rgba(255, 165, 0, 1);
        }
        div.resize-right {
          border-right: 1px solid rgba(255, 165, 0, 1);
        }
      }

      &.loop {
        background-color: rgba(0, 0, 255, 0.3);
        z-index: 9;

        div.resize-left {
          border-left: 1px solid rgba(0, 0, 255, 1);
        }
        div.resize-right {
          border-right: 1px solid rgba(0, 0, 255, 1);
        }

        &.inactive {
          height: 80px;
        }
      }
    }

    div.transport {
      position: absolute;
      left: 0;
      top: 0; bottom: 0;
      width: 1px;
      background-color: blue;
    }

    div.track-body {
      height: 100px;

      &.midi {
        color: @midi-light;
        border-bottom: 1px solid @midi-light;
      }

      &.audio {
        color: @audio-light;
        border-bottom: 1px solid @audio-light;
      }

      position: relative;
      div.sample-cut, div.sample-rec {
        position: absolute;
        height: 100%;
        -webkit-user-select: none;
        cursor: pointer;
        overflow: hidden;
      }

      div.sample-cut {
        background-color: @audio-darker;
        color: @audio-lighter;
        -webkit-user-select: none;

        div.cut-path {
          position: absolute;
          top: 0;
          left: 3px;
          right: 3px;
          height: 100%;
        }

        div.resize-left, div.resize-right {
          position: absolute;
          top: 0;
          height: 100%;
          width: 3px;

          &.resize-left {
            left: 0;
            cursor: w-resize;
          }

          &.resize-right {
            right: 0;
            cursor: e-resize;
          }
        }
      }

      div.sample-rec {
        background-color: @audio-normal;
        color: @audio-light;
      }
    }
  }
}

div.ctx-menu {
  display: none;
  position: fixed;
  background-color: #FFF;

  div {
    color: #000C;
    padding: 5px 15px;
    cursor: pointer;
    
    &:hover {
      color: #000;
      background-color: #F9F9F9;
    }
  }
}
